/__pycache__
/ethylene_MN15L.xyz
/main.py
/hexatriene.xyz
/Naphthalene_S.xyz
/Naphthalene_T.xyz
/ethylene_GM.xyz
/ethylene_H.xyz
/ethylene_3-21g.txt
/ethylene_3-21g.png
/naphthalene_ST_DZP.txt
/naphthalene_ST_DZP.png
/hexatriene_T1_6-31g*.txt
/hexatriene_T1_6-31g*.png
/ethylene_3-21g_b3lyp.txt
/ethylene_3-21g_b3lyp.png
/Naphta_s1_sto3g.png
/Naphta_s2_sto3g.png
/Naphta_s2_sto3g.txt
/Naphta_s1_sto3g.txt
/Anthracene.xyz
/anthracene_3-21g.txt
/anthracene_3-21g.png
